<h1>Add New Dev-Star</h1>

<p>So you have a new Dev-Star to add to the crew! Just enter their details below and hit "Create Dev-Star"!</p>

<form class="new_devstar" id="new_devstar" action="/" accept-charset="UTF-8" method="post">


  <input placeholder="Name...." type="text" name="name" id="devstar-name" /><br><br>
  <input placeholder="Age...." type="text" name="age" id="devstar-age" /><br><br>
  <input placeholder="Story...." name="story" id="devstar-story">
</input><br><br>
  <input placeholder="Image url...." type="text" name="image" id="devstar-image" /><br><br>
  <input type="submit" name="commit" value="Create Dev-Star" class="button"/>


</form>

<a href="/"><input type="button" value="Go Home" class="button"/></a>
