<h1>Dev Stars!</h1>
<a href="/add-dev-star"><input type="button" value="Add Dev-Star" class="button"/></a>
<ul>
  {{#each devstars}}
    <li><a href="/devstars/{{id}}"><img src="{{image}}"/></a></li>
    <li>{{name}}</li>
  {{/each}}
</ul>
